<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body  {
            background-color: #e6c97a;
        }

        .bg-1 {
            background-color: rgb(211, 165, 14);
            border-radius: 25px;
            border: 5px solid rgb(0, 0, 0);
    
        }

        nav ul {
            background: #000000;
            padding-left: 500px;
            list-style: none;
            display: inline-table;
            width: 66.5%;
            color: rgb(255, 255, 255);  
            border-radius: 30px;
            border: 5px solid rgb(255, 255, 255);   
        }
        nav ul li{
            float:left;
        }
        nav ul li:hover{
            background:rgb(71, 71, 71);
        }
        nav ul li a{
            display: block;
            padding: 25px;
            color: rgb(255, 255, 255);
            font-family: Arial;
            text-decoration: none;
        }

        h1   {
            text-align: center;
            font-family: Arial
        }

        p {
            text-align: center;
            color: #000000;
            font-family: Arial
        }

        input {
            border-radius: 50px;
        }

      </style>
    <title>Add Note</title>
</head>
<body>
    <h1 class="container-fluid bg-1 text-center">TYPE YOUR MESSAGE HERE</h1>
    <form action="" method="POST" align="center" class="container-fluid bg-1 text-center">
        {% csrf_token %}
        <p> To <input type="text" name="To"></p>
        <p> From <input type="text" name="From"> </p>
        <p> Title <input type="text" name="Title"></p>
        <p> Message <input type="text" name="Message"> <input type="submit" value="Submit"> </p>
    </form>
    <h1></h1>
</body>
<nav>
    <ul>
        <li><a href="/lab-4/add-note">CREATE NOTE</a></li>
        <li><a href="/lab-4/">NOTE TABLE</a></li>
        <li><a href="/lab-4/note-list">NOTE CARDS</a></li>
    </ul>
</nav>
</html>

