<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
        crossorigin="anonymous">
    <title>Django Cards</title>
    <style>
        body  {
            background-color: #e6c97a;
        }
        nav ul {
            background: #000000;
            padding-left: 500px;
            list-style: none;
            display: inline-table;
            width: 99.8%;
            color: rgb(255, 255, 255);  
            border-radius: 30px;
            border: 5px solid rgb(255, 255, 255);   
        }
        nav ul li{
            float:left;
        }
        nav ul li:hover{
            background:rgb(71, 71, 71);
        }
        nav ul li a{
            display: block;
            padding: 25px;
            color: rgb(255, 255, 255);
            font-family: Arial;
            text-decoration: none;
        }
    </style>
</head>
<body>
{%for i in Notes%}
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {#  Single Card Template:#}
    <div class="card" style="width: 19rem; margin: 10px; background-color: rgb(161, 161, 161);" >
        <div class="card-body">
            <div style="display: flex; flex-direction: row" >
                <h5 class="card-title">{{i.Title}}</h5> 
                {#  Colored cirlce:#}
                <div style="
                background: rgb(161, 161, 161);
                width: 20px;
                height: 30px;
                margin-right: 100px;
                margin-left: 0px;
                
                "> </div>

                <div style="
                background: rgb(255, 0, 0);
                width: 20px;
                height: 30px;
                margin-right: 0px;
                margin-left: 0px;
                border-top: 4px solid rgb(0, 0, 0);
                border-left: 4px solid rgb(0, 0, 0);
                border-bottom: 4px solid rgb(0, 0, 0);
                "> </div>

                <div style="
                background: rgb(0, 60, 255);
                width: 20px;
                height: 30px;
                margin-right: 0px;
                margin-left: 0px;
                border-top: 4px solid rgb(0, 0, 0);
                border-right: 4px solid rgb(0, 0, 0);
                border-bottom: 4px solid rgb(0, 0, 0);

                
                "> </div>
            </div>
                <h6 class="card-title">From: {{i.From}}</h6>
                <h6 class="card-title">To: {{i.To}}</h6>
                <p class="card-text">{{i.Message}}</p>
        </div>
    </div>
</div>
{%endfor%}
<nav>
    <ul>
        <li><a href="/lab-4/add-note">CREATE NOTE</a></li>
        <li><a href="/lab-4/">NOTE TABLE</a></li>
        <li><a href="/lab-4/note-list">NOTE CARDS</a></li>
    </ul>
</nav>
</body>
</html>