<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {%for i in Notes%}
      <tr>
        <td>{{i.To}}</td>
        <td>{{i.From}}</td>
        <td>{{i.Title}}</td>
        <td>{{i.Message}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html> -->


{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
        body  {
            background-image: url("patrick-fore-850jTF12RSQ-unsplash.jpg");
            background-color: #e6c97a;
        }

        .bg-1 {
            background-color: rgb(211, 165, 14);
            color: #000000;
            border-radius: 25px;
            border: 5px solid rgb(0, 0, 0); 
        }
        
        nav ul {
            background: #000000;
            padding-left: 500px;
            list-style: none;
            display: inline-table;
            width: 66.5%;
            color: rgb(255, 255, 255);  
            border-radius: 30px;
            border: 5px solid rgb(255, 255, 255);   
        }
        nav ul li{
            float:left;
        }
        nav ul li:hover{
            background:rgb(71, 71, 71);
        }
        nav > ul li a{
            display: block;
            padding: 25px;
            color: rgb(255, 255, 255);
            font-family: Arial;
            text-decoration: none;
        }

        h1   {
            text-align: center;
            font-family: Arial
        }
        table {
            border-radius: 5px;
            border: 5px solid rgb(0, 0, 0);
            font-family: Arial
        }
        th {
            background-color: rgb(211, 165, 14);
        }
    </style>
</head>
<body>
    <h1 class="container-fluid bg-1 text-center">MESSAGE GOES HERE</h1>
    <table border="10" align="center" >
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {%for i in Notes%}
        <tr>
            <td>{{i.To}}</td>
            <td>{{i.From}}</td>
            <td>{{i.Title}}</td>
            <td>{{i.Message}}</td>
        </tr>
        {%endfor%}
    </table>   
    <h1></h1>     
</body>
<nav>
    
    <ul>
        <li><a href="/lab-4/add-note">CREATE NOTE</a></li>
        <li><a href="/lab-4/">NOTE TABLE</a></li>
        <li><a href="/lab-4/note-list">NOTE CARDS</a></li>
    </ul>
    
</nav>
</html>