<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <title>Friend List</title>
  </head>
  <body bgcolor="white">
    <p align="center">Added Friends will be here</p>
    <table border="1" align="center" > 
      <tr>
        <th bgcolor="grey">Name</th>
        <th bgcolor="grey">NPM</th>
        <th bgcolor="grey">DOB</th>
      </tr>
      {%for i in friends%}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.DOB}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
