<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Name</p>
        <input type="text" name="name">
        <p>NPM</p>
        <input type="text" name="npm">
        <p>DOB</p>
        <input type="date" name="DOB">
        <input type="submit" value="Submit">
      </form>
</body>
</html>

